
*{
	box-sizing:border-box;
}
body{
	
	margin:0;
	padding:0;
	width:100%;
	background-color:#ECE7E5;
}
h1{
	
	color:red;
	text-align:center;
}
h2{
	text-align:right;
	color: #1E1D1D;
	
	width:30%;
	float:right;
}
#normal{
	background-color:#7F3128;
}
#abnormal{
	background-color:#C65143;
}
#hybrid{
	background-color:#E0321D;
}
p{
	clear:right;
}
section{
	float:left;
	width:33%;
	padding:10px;
	border:5px solid #99512F;
	background-color:#FF7433;
	
}
#section1{

}
#section2{
	
}
#section3
{
	
}
@media (min-width:992px){
	
	section{
		width:33%;
		
	}
	#section2{
		
	}
	#section3{
		
	}
}
@media (min-width:768px )AND (max-width:991px){
	
	#section1{
		width:50%;
	}
	#section2{
		width:50%;
		
	}
	#section3{
		width:100%;
	}
}
@media (max-width:767px)
{
	section{
		width:100%;
	}
	#section2{
		
	}
	#section3{
		
	}

}